.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ContentHeader {
  background-color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ButtonContainer{
  overflow: hidden;
  /*padding: 11.4px 12px;*/
  width: 100%;
}
.Documents {
  background-color: #ffffff;
  min-height: 30vh;
  display: flex;
  flex-direction: initial;
  float: left;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 5%;
  margin-top: 3%;
}
.QA {
  background-color: #ffffff;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  float: left;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 11%;
  margin-top: 3%;
}
.Issues {
  background-color: #ffffff;
  min-height: 30vh;
  display: flex;
  flex-direction: initial;
  float: left;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 15%;
  margin-top: 3%;
}
.New {
  background-color: #ffffff;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  float: right;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-right: 5%;
  margin-top: 3%;
}
.carousel-inner {

  max-height: 700px;
  align-content: center;
  }