.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ContentHeader {
  background-color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ButtonContainer{
  overflow: hidden;
  /*padding: 11.4px 12px;*/
  width: 100%;
  height: 30%;
}
.Documents {
  width: 20%;
  height: 20%;
  background-color: #ffffff;
  min-height: 30vh;
  display: flex;
  flex-direction: initial;
  float: left;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
  /*margin-left: 5%;
  margin-top: 3%;*/
}
.QA {
  width: 20%;
  height: 20%;
  background-color: #ffffff;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  float: left;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
  /*margin-left: 11%;
  margin-top: 3%;*/
}
.Issues {
  width: 20%;
  height: 20%;
  background-color: #ffffff;
  min-height: 30vh;
  display: flex;
  float: left;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
  /*margin-left: 15%;
  margin-top: 3%;*/
}
.New {
  width: 20%;
  height: 20%;
  background-color: #ffffff;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  float: left;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
 /* margin-right: 5%;
  margin-top: 3%;*/
}
.carousel-inner {

  max-height: 700px;
  align-content: center;
}

/*-----------------ERP Styles - main page------------------*/
.Netsuite{
  background-color:#ffffff;
  width: 100%;
  height: 1080px;
  border: #282c34;

}
.JDEdwards{
  background-color: #212121;
  width: 100%;
  height: 1080px;
  border: #282c34;

}
.SAP{
  background-color: #ffffff;
  width: 100%;
  height: 1080px;
  border: #282c34;

}
.OracleCloud{
  background-color: #212121;
  width: 100%;
  height: 1080px;
  border: #282c34;

}
.ErpContents{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.ERPInfo{
  overflow: hidden;
  width: 100%;
  height: 20%;
  margin-bottom: 2%;
}

p{
  display: flex;
  flex-direction: initial;
  float: left;
  margin-left: 3%;
  margin-top: 1%;
  margin-right: 0;
  width: 50%;
  height: 20%;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
.NSimg{
  display: flex;
  flex-direction: initial;
  float: left;
  width: 500px;
  height: 200px;
  margin-left: 10%;
}

.ERPTitle{
  margin-top: 5%;
  margin-left: 3%;
}

.NetsuiteButtons {
  display: flex;
  flex-direction: 'row',
}

.AddNewButtons {
  display: flex;
  flex-direction: 'row';
  width: 500px;
  height: 70px;
  align-items: right;
  padding-left: 300px;
  padding-top: 25px;
}

.DocsStyle {
  margin-top: 30px;
}

.NSbuttons {
  background-color: #212121;
  color: #ffffff;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  width: 40%;
  height: 80px;
  margin-left: 3%;
  margin-top: 1%;
  margin-right: 3%;
}

.textCards {
  width:100%;
  height: 100%;
}

